/* Maria Testing */

.header {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 12px 24px;
    border-radius: 4px;
    border: solid 2px white;
    font-weight: 600;

}